*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin btn{
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    width: 370px;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    background: #FF4343;
    padding: 25px;
    border-style: none;
    cursor: pointer;

    @media (max-width:1024px){
        max-width: 313px;
    }

    @media (max-width: 767px){
        padding: 18px;
        max-width: 100%;
    }

    &:hover{
        background: #E71414;
        transition: box-shadow 0.3s linear;
        box-shadow: 4px 4px 30px #5231a5;
    }

    &:active{
        background: #FF4343;
        box-shadow: 4px 4px 30px 0px #FF4343;
    }
}

@mixin media{
    list-style: none;
    display: flex;
    column-gap: 5px;

    &_link{
        width: 39px;
        height: 39px;
        border: 1px solid #C6CBCD;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background 0.3s linear;

        @media (max-width:1024px){
            width: 33px;
            height: 33px;
        }

        &:hover{
            background-color: #e26464;
            transition: background 0.3s linear;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }

        &:active{
            background-color: #db2626;
        }
    }
}

.container{
    max-width: 1202px;
    padding: 0 16px;
    margin: 0 auto;
}

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    &__container{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #BABBC5;

        @media (max-width: 767px){
            border-bottom: none;
        }
    }

    &__logo{
        align-self: center;

        svg{
            @media (max-width: 767px){
                width: 103px;
                height: 14px;
            }
        }
    }
    &__brgmenu{
        display: none;
        padding: 15px;

        @media (max-width: 767px){
            display: block;
            width: 55px;
            height: 56px;
        }
    }
    &__menu_closed{
        display: none;
        padding: 15px;
    }
}

.nav{

    @media (max-width: 767px){
        display: none;
    }

    &__menu{
        display: flex;
    }

    &__item{
        color: #FFFFFF;
        padding: 36px 0;
        text-transform: uppercase;
        list-style-type: none;
        min-width: 134px;
        text-align: center;
        border-bottom: 3px solid transparent;
        transition: background 0.5s linear;

        @media (max-width:1024px){
            min-width: 112px;
        }

        &:hover{
            border-bottom: 3px solid #e26464;
            transition: background 0.5s linear;
            background-color: #e26464;
            border-radius: 4px;
        }

        &:active {
            color: #E71414;
            border-bottom: 3px solid #E71414;
        }
    }    
    
    &__link{
        color: inherit;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        line-height: 15px;
        font-family: 'Raleway', sans-serif;

        @media (max-width:1024px){
            font-size: 12px;
        }
    }

    // &.enter{
    //     @media (max-width: 767px){
    //         position: fixed;
    //         display: block;
    //         left: 0;
    //         top: 0;
    //         height: 100%;
    //         width: 100%;
    //         background-image: url(../img/backimgbanner.jpg);
    //         background-repeat: no-repeat;
    //         background-size: cover;
    //         background-position: center;
    //         padding: 84px 20px 171px;
    //         z-index: -1;

    //         &::before{
    //             content: '';
    //             display: inline-block;
    //             position: absolute;
    //             background: #252B49;
    //             left: 0;
    //             top: 0;
    //             z-index: -1;
    //             width: 100%;
    //             height: 100%;
    //             opacity: 0.800000011920929;
    //         }

    //         .nav__menu{
    //             flex-direction: column;
    //         }

    //         .nav__item{
    //             text-align: left;
    //         }
    //     }
    // }
}

.banner{
    background-image: url(../img/backimgbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    padding: 230px 0 120px;
    z-index: 1;
    margin-bottom: 116px;

    @media (max-width: 1024px){
        padding: 257px 0 126px;
        margin-bottom: 78px;
    }

    @media (max-width: 767px){
        padding: 106px 0 52px;
        margin-bottom: 40px;
    }
        
    &::before{
        content: '';
        display: inline-block;
        position: absolute;
        background: #252B49;
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0.800000011920929;
    }

    &__info{
        margin-bottom: 80px;

        @media (max-width:1024px){
            margin-bottom: 89px;
        }

        @media (max-width: 767px){
            margin-bottom: 49px;
        }
    }

    &__title{
        font-size: 64px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: #FFFFFF;
        margin-bottom: 32px;

        @media (max-width:1024px){
            margin-bottom: 62px;
            font-size: 48px;
            line-height: 56px;
        }
        @media (max-width: 767px){
            margin-bottom: 32px;
            font-size: 36px;
            line-height: 42px;
        }
    }

    &__text{
        color: #FFF;
        font-size: 24px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;

        @media (max-width:1024px){
            font-size: 18px;
            line-height: 21px;
        }

        @media (max-width: 767px){
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__button{
        @include btn();
    }
}

.features{
    margin-bottom: 116px;

    @media (max-width:1024px){
        margin-bottom: 80px;
    }
    @media (max-width:767px){
        margin-bottom: 35px;
    }
}

.container_features{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 31px;
    row-gap: 88px;

    @media (max-width:1024px){
        column-gap: 20px;
        row-gap: 50px;
    }
    @media (max-width:767px){
        min-width: 75px;
        min-height: 74px;
        grid-template-columns: 1fr;
        row-gap: 41px;
    }
}

.feature{
    &__item{
        margin-bottom: 29px;
        
        @media (max-width:1024px){
            margin-bottom: 24px;
        }
        @media (max-width:767px){
            margin-bottom: 21px;
        }

        &_svg{
            min-width: 100px;
            min-height: 100px;
            padding: 5px;

            @media (max-width:1024px){
                min-width: 85px;
                min-height: 83px;
            }
            @media (max-width:767px){
                min-width: 75px;
                min-height: 74px;
            }
        }
    }
    
    &__title{
        line-height: 28px;
        font-size: 24px;
        font-weight: 900;
        font-family: 'Raleway', sans-serif;
        color: #2D3033;
        text-transform: uppercase;
        margin-bottom: 20px;

        @media (max-width:1024px){
            line-height: 21px;
            font-size: 18px;
        }
    }
    
    &__text{
        line-height: 21px;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        color: #6C7279;

        @media (max-width:1024px){
            line-height: 16px;
            font-size: 14px;
        }
    }
}

.samples{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    margin-bottom: 114px;

    @media (max-width:1024px){
        margin-bottom: 78px;
    }
    @media (max-width:767px){
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 35px;
    }
}

.sample{
    position: relative;
    aspect-ratio: 1 / .9;
    display: flex;

    &__img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__info{
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 67, 67, 0.80);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 21px;
        opacity: 0;
        cursor: pointer;
        transition: all 0.4s ease;
        text-decoration: none;

        @media (max-width:1024px){
            row-gap: 13px;
        }
        @media (max-width:767px){
            row-gap: 5px;
        }

        &:hover{
            opacity: 1;
            text-decoration: none;
        }
        &:active{
            background-color: #B90C0CCC;
        }
    }

    &__title{
        color: #FFF;
        font-size: 24px;
        font-weight: 900;
        line-height: 28px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;

        @media (max-width:1024px){
            font-size: 18px;
            line-height: 21px;
        }
    }
    
    &__text{
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        font-family: 'Raleway', sans-serif;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.persons{
    margin-bottom: 114px;

    @media (max-width:1024px){
        margin-bottom: 78px;
    }
    @media (max-width:767px){
        margin-bottom: 34px;
    }
}

.container__persons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;

    @media (max-width:767px){
        grid-template-columns: repeat(1, 1fr);
        row-gap: 49px;
    }
}

.person{
    display: flex;
    flex-direction: column;

    &__photo{
        margin-bottom: 30px;

        @media (max-width:1024px){
            margin-bottom: 25px;
        }

        &_img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;

            @media (max-width:767px){
                aspect-ratio: 1.23 / 1;
            }

        }
    }
    &__name{
        margin-bottom: 5px;
        color: #2D3033;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        font-family: 'Raleway', sans-serif;
        text-transform: capitalize;

        @media (max-width:1024px){
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__post{
        margin-bottom: 18px;
        color: #FF4343;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 22px;
        }
        @media (max-width:767px){
            margin-bottom: 38px;
        }
    }
    &__text{
        margin-bottom: 38px;
        color: #6C7279;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        font-family: 'Raleway', sans-serif;
        flex: 1 1 auto;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 39px;
        }
        @media (max-width:767px){
            margin-bottom: 55px;
        }
    }

    &__media{
        @include media();
        // list-style: none;
        // display: flex;
        // column-gap: 5px;

        // &_link{
        //     width: 32px;
        //     height: 32px;
        //     border: 1px solid #C6CBCD;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     transition: background 0.3s linear;

        //     &:hover{
        //         background-color: #e26464;
        //         transition: background 0.3s linear;
        //         box-shadow: 0 0 10px rgba(0,0,0,0.2);
        //     }

        //     &:active{
        //         background-color: #db2626;
        //     }
        // }
    }
}

.slider{
    display: grid;
    margin-bottom: 114px;
    grid-template-columns: 0.97fr 1.03fr;   

    @media (max-width:1024px){
        margin-bottom: 77.5px;
    }
    @media (max-width:767px){
        margin-bottom: 34.5px;
        grid-template-columns: repeat(1, 1fr);
    }

    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
    }

    &__background{
        background-color: #5C3249;
        display: grid;
        justify-content: center;
        align-items: center;

        @media (max-width:767px){
            grid-column: 1/3;
            padding: 10px 0 95px;
        }    
    }

    &__text{
        max-width: 471px;
        max-height: 258px;

        @media (max-width:1024px){
            max-width: 330px;
            max-height: 175px;
        }
        @media (max-width:767px){
            max-width: 275px;
            max-height: 231px;
            text-align: center;
        }
    }

    &__slogan{
        color: #fff;
        font-size: 36px;
        font-weight: 400;
        font-family: 'Cardo', sans-serif;
        line-height: 49px;
        text-transform: capitalize;
        padding: 13px 0;

        @media (max-width:1024px){
            font-size: 24px;
            line-height: 32px;
            padding: 8px 0;
        }
        @media (max-width:767px){
            margin-bottom: 20px;
        }
    }

    &__name{
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        line-height: 15px;
        text-transform: capitalize;
        padding: 2px 0;
    }

    &__pagination{
        grid-column: 1 / 3;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        margin-top: 31px;
    }

    &__item{
        list-style-type: none;
        border: 1px solid #7E5D6F;
        border-radius: 50%;
        width: 10px;
        height: 10px;  
        
        @media (max-width:1024px){
            width: 8px;
            height: 8px;  
            }
    }
    
    &__item:nth-child(2){
        background-color: #7E5D6F;
    }
}

.download{
    text-align: center;
    margin-bottom: 114px;

    @media (max-width:1024px){
        margin-bottom: 78px;
    }
    @media (max-width:767px){
        margin-bottom: 45px;
    }

    &__title{
        font-size: 30px;
        font-weight: 500;
        line-height: 35px;
        font-family: 'Raleway', sans-serif;
        padding: 5px 0;
        margin-bottom: 20px;

        @media (max-width:1024px){
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 15px;
        }
        @media (max-width:767px){
            font-size: 18px;
            line-height: 21px;
        }
    }
    &__text{
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        margin-bottom: 47.7px;
        padding: 3px 0;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 43.3px;
        }
        @media (max-width:767px){
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }
    }
    &__button{
        @include btn();
    }
}

.footer{
    display: grid;
    background-color: #353C65;

    &__content{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3 , 1fr);
        text-align: center;
        padding: 71px 0;

        @media (max-width:1024px){
            padding: 47px 0 41px;
        }

        @media (max-width:767px){
            grid-template-columns: repeat(1 , 1fr);
            padding: 34px 0 33px;
        }
    }

    &__item_media{
        display: flex;
        flex-direction: column;

        @media (max-width:767px){
            margin: 69px 0 59px;
        }
    }

    &__title_last{

        @media (max-width:767px){
            margin-bottom: 38.7px;
        }
    }

    &__title{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 29px;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 18px;
        }
        @media (max-width:767px){
            margin-bottom: 34px;
        }
    }

    &__title_last{

        @media (max-width:767px){
            margin-bottom: 38.7px;
        }
    }

    &__title_media{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        line-height: 21px;
        margin-bottom: 49px;
        text-transform: uppercase;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 33px;
        }
        @media (max-width:767px){
            margin-bottom: 36px;
        }
    }

    &__text{
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        line-height: 21px;
        text-transform: capitalize;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__media{
        @include media();
        column-gap: 27px;
        justify-content: center;
        flex: 1 1 auto;
        align-items: end;
    }

    &__signature{
        background-color: #2C3154;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;

        @media (max-width:1024px){
            padding: 14px 0;
        }
        @media (max-width:767px){
            padding: 29px 0 28px;
        }
    }

    &__signature_text{
        color: #808080;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        text-transform: capitalize;
        text-align: center;
        max-width: 370px;
        max-height: 42px;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 18px;
            max-width: 314px;
            max-height: 32px;
        }
    }

    &__signature_span{
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 400;
        font-family: 'Raleway', sans-serif;
        text-transform: capitalize;

        @media (max-width:1024px){
            font-size: 14px;
            line-height: 18px;
        }
    }
}